@import '../../styles/variables';

.status {
  display: inline-block;
  color: $secondary;
  border: 1px solid $secondary;
  border-radius: 20px;
  font-size: 12px;
  line-height: 24px;
  padding: 0 8px;
}
