@import '../../styles/variables';

.layout {
  max-width: 714px;
  margin: 0 auto;
  display: flex;
}

.actions {
  width: 150px;
  margin-top: 2rem;
}

.content {
  width: 100%;
}

.backBtn {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: $border-radius;

  &:hover {
    background-color: darken(white, 3%);
  }
}
