@import '../../styles/variables';

.empty {
  padding: 20px;
  text-align: center;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding: 20px;

  .img {
    position: relative;
    width: 100%;
    border-radius: $border-radius-sm;
    cursor: pointer;
    background-color: $secondary;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &:after {
      content: '';
      display: block;
      padding-bottom: 100%;
    }
  }
}

.mask {
  background: rgba(55, 62, 90, 0.9) !important;
}

.bb {
  background-color: red;
}
