@import '../../styles/variables';

.btn {
  background-color: $primary;
  border: 1px solid #0637f9;
  border-radius: $border-radius-sm;
  color: white;
  padding: 0.5rem 1.25rem;
  cursor: pointer;

  &:hover {
    background-color: darken($primary, 8%);
  }

  &:focus {
    background-color: darken($primary, 17%);
  }
}
