@import '../../styles/variables';

.friendCard {
  margin-bottom: 14px;
}

.content {
  display: flex;
  justify-content: space-between;
  padding: 14px;
}

.flex {
  display: flex;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 14px;
  padding: 4px 0;
}

.action {
  display: flex;
  align-items: center;
}
